<script src="{{ config.STATIC_CONTENT_URL }}/js/gov-uk-template.js"></script>
<!-- Jquery -->
<script src="{{ config.STATIC_CONTENT_URL }}/js/vendor/jquery/3.3.1/jquery.min.js"></script>

<!--[if IE 8]>
<script src="{{ config.STATIC_CONTENT_URL }}/js/ie.js"></script>
<script src="{{ config.STATIC_CONTENT_URL }}/js/bind.js"></script>
<![endif]-->

<!-- Menu resize -->
<script src="{{ config.STATIC_CONTENT_URL }}/js/gov-uk-select-box.js"></script>
<script src="{{ config.STATIC_CONTENT_URL }}/js/details-polyfill.js"></script>
<script src="{{ config.STATIC_CONTENT_URL }}/js/govuk/shim-links-with-button-role.js"></script>
<script src="{{ config.STATIC_CONTENT_URL }}/js/govuk/show-hide-content.js"></script>
<script src="{{ config.STATIC_CONTENT_URL }}/js/application.js"></script>
