<link rel="shortcut icon" href="{{ config.STATIC_CONTENT_URL }}/images/favicon.ico" type="image/x-icon" />
<link rel="mask-icon" href="{{ config.STATIC_CONTENT_URL }}/images/gov-uk-logotype-crown.svg" color="#0b0c0c">
<link rel="apple-touch-icon" sizes="152x152" href="{{ config.STATIC_CONTENT_URL }}/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ config.STATIC_CONTENT_URL }}/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ config.STATIC_CONTENT_URL }}/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" href="{{ config.STATIC_CONTENT_URL }}/images/apple-touch-icon-60x60.png">

<!-- GDS Styles -->

<!--[if IE 8]>
    <link href="{{ config.STATIC_CONTENT_URL }}/stylesheets/gov-uk-elements-ie8.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ config.STATIC_CONTENT_URL }}/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ config.STATIC_CONTENT_URL }}/stylesheets/fonts-ie8.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->

<!--[if gt IE 8]><!-->
<link rel=stylesheet media="screen" type=text/css
      href="{{ config.STATIC_CONTENT_URL }}/stylesheets/govuk-template.css">
<!--<![endif]-->
<!--[if gt IE 9]><!-->
<link rel=stylesheet media="all" type=text/css href="{{ config.STATIC_CONTENT_URL }}/stylesheets/fonts.css">
<!--<![endif]-->

<link rel=stylesheet media="screen" type=text/css
      href="{{ config.STATIC_CONTENT_URL }}/stylesheets/common-frontend-custom.css">
<link rel=stylesheet media="screen" type=text/css
      href="{{ config.STATIC_CONTENT_URL }}/stylesheets/maintain-frontend-custom.css">
<link rel=stylesheet media="print" type=text/css
      href="{{ config.STATIC_CONTENT_URL }}/stylesheets/govuk-template-print.css">
<link rel=stylesheet media="print" type=text/css
      href="{{ config.STATIC_CONTENT_URL }}/stylesheets/maintain-frontend-custom-print.css">
