{% extends "layout.html" %}
{% block title %}Confirm the law and legal document{% endblock %}

{% block body %}
  <main id="content">
    {% include 'partials/phase_banner_beta.html' %}
    <div class="grid-row">
      <div class="column-two-thirds">
      {% include 'partials/validation_partial.html' %}
        <h1 class="heading-large">Confirm the law and legal document</h1>
        <p>We found 1 law and 1 instrument for your charge, based on your choice of:<br>
          <span class="bold-small" id="charge-category-selected">{{ g.session.add_charge_state.charge_type }}</span> and <span class="bold-small" id="charge-subcategory-selected">{{ g.session.add_charge_state.charge_sub_category }}</span>.
        </p>
        <p>
          <span>Law</span><br>
          <span id="stat-prov" class="bold-medium">{{ law }}</span><br>
          <span>Not the correct law? <a href="{{ url_for('add_land_charge.search_law') }}">Search for the law</a></span>
        </p>
        <p>
          <span>Legal document</span><br>
          <span id="instrument" class="bold-medium">{{ document }}</span>
        </p>
        <p><a href="{{ url_for('add_land_charge.law_document_confirmed') }}" class="button">Continue</a></p>
        <p><a href="{{ url_for('add_land_charge.new') }}">Choose a different charge category</a></p>
      </div>
    </div>
  </main>
{% endblock %}