{% extends "layout.html" %}
{% block title %}Upload file{% endblock %}

{% block body %}
<main id="content">
    {% include 'partials/phase_banner_beta.html' %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {% include 'partials/validation_partial.html' %}

            <h1 class="heading-large">Upload file</h1>

            <form action="{{ url_for('add_land_charge.post_upload_shapefile') }}" enctype="multipart/form-data" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <fieldset>
                    <div class="panel panel-border-narrow">
                        <legend class="form-label-bold">Your file must be in this format:</legend>

                        <ul class="list list-bullet">
                            <li>zip file (.zip) that includes 3 files (.shp, .shx, .dbf)</li>
                            <li>under 1MB</li>
                            <li>British National Grid (BNG) coordinates</li>
                            <li>500 extents (or fewer)</li>
                        </ul>
                        <p>If your file does not use British National Grid (BNG) coordinates:</p>
                        <ul class="list list-bullet">
                            <li>Your extent might not look the same way on our map as it does on your file</li>
                            <li>Check the extent you have uploaded to make sure it is the right place, size and shape</li>
                        </ul>
                    </div>
                    <br>
                    {% if validation_errors and validation_errors['shapefile-input'] %}
                        <span class="error-message"
                            id="error-message-reference">{{ validation_errors['shapefile-input'].inline_message }}</span>
                    {% endif %}
                    <div class="form-group {% if validation_errors and validation_errors['shapefile-input'] %} form-group-error {% endif %}">
                        <label id="uploadFile" class="form-label-bold" for="shapefile-input">Upload file</label>
                        <input type="file" id="shapefile-input" name="shapefile-input">
                    </div>
                </fieldset>

                <br>
                <input class="button shape-button" type="submit" value="Continue">
                <br><br>

                Or
                <br>
                <a href="{{ url_for('add_land_charge.get_location') }}">Cancel upload</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}