<footer class="group js-footer full-map-page-footer" id="footer" role="contentinfo">
    <div class="full-map-page-footer-wrapper">
        <ul>
            <li><a href="{{ config.CONTACT_US_URL }}">Contact HM Land Registry</a></li>
            <li><a href="/cookies">Cookies</a></li>
            <li><a href="/conditions-of-use">Conditions of use</a></li>
        </ul>

        <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/" style="padding-right: 0px;">&copy; Crown copyright</a>
    </div>
</footer>

<footer class="group js-footer mobile-only-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <ul>
                    <li><a href="{{ config.CONTACT_US_URL }}">Contact HM Land Registry</a></li>
                    <li><a href="/cookies">Cookies</a></li>
                    <li><a href="/conditions-of-use">Conditions of use</a></li>
                </ul>
            </div>

            <div class="mobile-footer-copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/" style="background-size: 125px 102px;">&copy; Crown copyright</a>
            </div>
        </div>
    </div>
</footer>

<div id="global-app-error" class="app-error hidden"></div>
